<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cole McIntosh</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename="cm_icon.png") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<!-- Create inline nav bar at the top of the page -->
<!--
    <div class="dt-navbar">
      <a style="background: transparent;"href="/"><image id="nav-logo" class="nav-logo" alt="CM" src="{{ url_for('static', filename='cm_web.png') }}"/></a>
        <a href="/">Home</a>
        <a href="{{ url_for('experience') }}">Experience</a>
        <a href="{{ url_for('skills') }}">Skills</a>
        <a href="{{ url_for('projects') }}">Projects</a>
        <a href="{{ url_for('certs') }}">Certifications</a>
        <a href="{{ url_for('about') }}">About me</a>
        <a href="{{ url_for('contact') }}">Contact</a>
    </div>
    -->
    <header class="header">
      <nav class="navbar">
        <a style="background: transparent;"href="/"><img id="nav-logo" class="nav-logo" alt="CM" src="{{ url_for('static', filename='cm_web.png') }}"/></a>
          <ul class="nav-menu">
              <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('experience') }}">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('skills') }}">Skills</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('projects') }}">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('certs') }}">Certifications</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
              </li>
          </ul>
          <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
          </div>
      </nav>
  </header>
    <body>
    {% block content %}
    {% endblock %}
    </body>
  <footer>
    <div class="footer-container">
    
    <a href="mailto:colemcintosh6@gmail.com"><img src="{{ url_for('static', filename='email.png') }}" alt="email"></a>

    <a href="https://www.linkedin.com/in/colemcintosh" target="_blank"><img src="{{ url_for('static', filename='linkedin.png') }}" alt="linkedin" /></a>
    
    <a href="https://github.com/colesmcintosh" target="_blank"><img src="{{ url_for('static', filename='gh.png') }}" alt="github" /></a>
    
    <a href="{{ url_for('static', filename="Cole_McIntosh_Resume.pdf") }}" target="_blank"><img src="{{ url_for('static', filename='resume.png') }}" alt="resume" /></a>
    </div>
  
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>