{% extends "base.html" %}
{% block content %}
<div class="title">
  <h1>Certifications</h1>
</div>

<div class="all-content">
<div class="job">
<div class="subtitle">Blockchain Basics</div>
<div class="duration">University at Buffalo, The State University of New York</div>
  <div class="description">
    Covered the basics of blockchain technology and smart contracts. Learning about how blockchain works, what it is used for, and other potential applications of blockchain in the real world. The course also covered some of the more technical aspects of blockchain, such as cryptography and consensus mechanisms.
  </div>
  <a class="app" href="https://www.coursera.org/account/accomplishments/certificate/2NVKTK9T3687" target="_blank">View Certificate</a>
</div>

<div class="job">
  <div class="subtitle">Smart Contracts</div>
  <div class="duration">University at Buffalo, The State University of New York</div>
    <div class="description">
      Covered the basics of smart contracts. Learning about how blockchain works, what it is used for. The primary focus of this course was how to successfully create and deploy smart contracts. The course also covered Solidity syntax and how to use it to create smart contracts.
    </div>
    <a class="code" href="https://www.coursera.org/account/accomplishments/certificate/EUH8V2A7PXGD" target="_blank">View Certificate</a>
</div>

<div class="job">
<div class="subtitle">Python Specialization</div>
<div class="duration">University of Michigan</div>
  <div class="description">
    Covered basic programming concepts such as variables, data types, control flow, and functions. In addition, the course covers more advanced topics such as object-oriented programming, file handling, and exception handling.
  </div>
  <a class="code" href="https://www.coursera.org/account/accomplishments/specialization/certificate/6TL4Y2Q6245B" target="_blank">View Certificate</a>
</div>

<div class="job">
<div class="subtitle">SQL for Data Science</div>
<div class="duration">University of California, Davis</div>
  <div class="description">
    Covered the basics of SQL, including how to query databases, how to aggregate data, and how to join tables. The course also covers more advanced topics such as how to create and use stored procedures, how to work with data types, and how to optimize SQL queries.
  </div>
  <a class="code" href="https://www.coursera.org/account/accomplishments/certificate/6DE8TTR9AS88" target="_blank">View Certificate</a>
</div>

<div class="job">
<div class="subtitle">AWS Cloud Technical Essentials</div>
<div class="duration">Amazon</div>
  <div class="description">
    Designed to give individuals a foundational understanding of the Amazon Web Services (AWS) cloud platform. The course covers a range of topics including: AWS products and services, security, architecture, pricing, and support. By the end of the course, students should be able to identify and explain the key features of AWS, understand how to use the AWS console, and have a basic understanding of the AWS security model.
  </div>
  <a class="code" href="https://www.coursera.org/account/accomplishments/certificate/AHUQ3HXUC9KU" target="_blank">View Certificate</a>
</div>

<div class="job">
  <div class="subtitle">Technical Support Fundamentals</div>
  <div class="duration">Google</div>
    <div class="description">
      Covered the fundamentals of technical support, including troubleshooting hardware and software, networking, and operating systems. It also covers customer service, communication, and soft skills. The course is designed for anyone who wants to start a career in technical support, or for those who want to improve their skills.
    </div>
    <a class="code" href="https://www.coursera.org/account/accomplishments/certificate/W2Y7NFUK3CJU" target="_blank">View Certificate</a>
  </div>
</div>
{% endblock %}