{% extends "base.html" %}
{% block content %}
<div class="title">
    <h1>Contact</h1>
</div>

<div class="all-content" id="sep-contact">

<a href="mailto:colemcintosh6@gmail.com">E-mail</a>

<a href="https://www.linkedin.com/in/colemcintosh" target="_blank">LinkedIn</a>

<a href="https://github.com/colesmcintosh" target="_blank">GitHub</a>

<a href="{{ url_for('static', filename="Cole_McIntosh_Resume.pdf") }}" target="_blank">Résumé</a>
</div>

<image class="contact-logo" alt="CM-Logo" src="{{ url_for('static', filename="cm_logo.png") }}">

{% endblock %}