{% extends "base.html" %}
{% block content %}  

<div class="title">
    <h1>Experience</h1>
</div>

<div class="all-content">
<div class="job">
<div class="subtitle">Operations Analyst</div>
<div class="company">RealPage</div>
  <div class="duration">August 2021 - PRESENT</div>
    <div class="content">
      Designing, establishing, and maintaining analytical reporting structures for various lines of business for business intelligence systems, presiding over database connection set up, and troubleshooting. This includes writing SQL statements to create data models in various BI systems, integrating BI systems to customize external reporting for client facing reports, and building machine learning models to perform predictive analysis.
    </div>
</div>

<div class="job">
<div class="subtitle">Workforce Analyst</div>
<div class="company">RealPage</div>
  <div class="duration">October 2020 - January 2021</div>
    <div class="content">
      Running hourly reports to determine the current staffing and volume that is required in order to ensure contractual service level agreements are being met across multiple call center locations in the US and the Philippines.
    </div>
</div>

<div class="job">
<div class="subtitle">Team Lead Assistant</div>
<div class="company">RealPage</div>
  <div class="duration">December 2019 - August 2021</div>
    <div class="content">
      Coaching and ongoing development of contact center leasing agents including the facilitation of initial post training evaluations to ensure quality control and key performance indicators are being met.
    </div>
</div>

<div class="job">
<div class="subtitle">Contact Center Associate</div>
<div class="company">RealPage</div>
  <div class="duration">February 2018 - December 2019</div>
    <div class="content">
      From a level 1 associate to level 3. Answering multi-family leasing phone calls, assisting each caller regarding leasing information about the given property they have inquired about. Answering a variety of call types from affordable housing, student housing, Specialty senior living, as well as conventional multi-family housing. 
    </div>
</div>
</div>
{% endblock %}