{% extends "base.html" %}
{% block content %}
<div class="title">
  <h1>Projects</h1>
</div>

<div class="all-content">
        <div class="project">
        <div class="project-title">Cryptocurrency Price Predictor (Machine Learning)</div>
        <div class="description">
          Get price predictions for your favorite cryptocurrency! Prices from January of 2015 till today's date are pulled using the Yahoo finance API, tables and graphs of the retrieved data are created. Using machine learning, a future predication of that data is created and subsequent tables and graphs are created for the predication model. Created with Streamlit.
        </div>
        <a class="code" href="https://github.com/colesmcintosh/crypto-predictor-app" target="_blank">Source Code</a>
        <a class="app" href="https://share.streamlit.io/colesmcintosh/crypto-predictor-app/main.py" target="-_blank">Application</a>
        </div>

        <div class="project">
          <div class="project-title">Python Blockchain</div>
          <div class="description">
            A small sample blockchain created with Python.
          </div>
          <a class="code" href="https://github.com/colesmcintosh/sample-python-blockchain" target="_blank">Source Code</a>
        </div>
        
        <div class="project">
        <div class="project-title">Bitcoin Price Prediction Model (Machine Learning)</div>
        <div class="description">
          2 machine learning models with different amounts of features used to make future predictions on Bitcoin's price.
        </div>
        <a class="code" href="https://github.com/colesmcintosh/bitcoin-price-prediction-ml-model" target="_blank">Source Code</a>
        </div>
        
        <div class="project">
        <div class="project-title">Image Classification Model (Machine Learning)</div>
        <div class="description">
          An image classification model that detects a number from an image.
        </div>
        <a class="code" href="https://github.com/colesmcintosh/image-classification-ml" target="_blank">Source Code</a>
        </div>

        <div class="project">
        <div class="project-title">Titanic Survial Prediction Model (Machine Learning)</div>
        <div class="description">
          A prediction model to predict the survival of titanic passengers based upon their age, sex, class, and amount paid for fare using a decision tree algorithm.
        </div>
        <a class="code" href="https://github.com/colesmcintosh/titanic-decision-tree" target="_blank">Source Code</a>
        </div>
        
        
        <div class="project">
        <div class="project-title">React JS calculator</div>
        <div class="description">
          Calculator built using React JS.
        </div>
        <a class="code" href="https://github.com/colesmcintosh/react-calculator" target="_blank">Source Code</a>
        <a class="app" href="https://cmreactcalc.netlify.app/" target="_blank">Application</a>
        </div>

        <div class="project">
        <div class="project-title">"What are your interests?" Application</div>
        <div class="description">
          A user fills out their interests, upon submission the responses are sent via email to the configured email.
        </div>
        <a class="code" href="https://github.com/colesmcintosh/interests-app" target="_blank">Source Code</a>
        <a class="app" href="https://yourinterests.herokuapp.com" target="_blank">Application</a>
        </div>
        
        <div class="project">
        <div class="project-title">Task Manager</div>
        <div class="description">
          a task manager created with python and flask
        </div>
        <a class="code" href="https://github.com/colesmcintosh/task-manager" target="_blank">Source Code</a>
        </div>
        
        <div class="project">
        <div class="project-title">Number Guessing</div>
        <div class="description">
          A guessing game of numbers against the CPU.
        </div>
        <a class="code" href="https://github.com/colesmcintosh/number-guessing" target="_blank">Source Code</a>
        </div>
        
        <div class="project">
        <div class="project-title">Premier League Match Historian (Node JS)</div>
        <div class="description">
          Want to know a random day with a random game from the premier league? Then this is the app for you!
        </div>
        <a class="code" href="https://github.com/colesmcintosh/pl-match-historian-v.2021" target="_blank">Source Code</a>
        </div>
</div>
{% endblock %}