{% extends "base.html" %}
{% block content %}
<div class="title">
  <h1>Skills</h1>
</div>

<div class="skill-grid">
      <div class="skill-item">Python</div>
      <div class="skill-item">Flask</div>
      <div class="skill-item">Machine Learning</div>
      <div class="skill-item">Neural Networks</div>
      <div class="skill-item">Selenium</div>
      <div class="skill-item">SQL</div>
      <div class="skill-item">React JS</div>
      <div class="skill-item">Html</div>
      <div class="skill-item">Css</div>
      <div class="skill-item">JavaScript</div>
      <div class="skill-item">MS Office Suite</div>
      <div class="skill-item">AWS</div>
</div>
{% endblock %}